---
import { Code } from "astro:components";

import CopyCodeButton from "./CopyCodeButton.astro";

const versions = [
  {
    id: "php74",
    preset: "PHP7.4",
    code: "curl -fsSL https://tryphp.dev/7.4/install.sh | bash",
  },
  {
    id: "php81",
    preset: "PHP8.1",
    code: "curl -fsSL https://tryphp.dev/8.1/install.sh | bash",
  },
  {
    id: "php82",
    preset: "PHP8.2",
    code: "curl -fsSL https://tryphp.dev/8.2/install.sh | bash",
  },
  {
    id: "php83",
    preset: "PHP8.3",
    code: "curl -fsSL https://tryphp.dev/8.3/install.sh | bash",
  },
];
---

<section>
  <div class="flex flex-row gap-2 mb-2">
    {
      versions.map((preset) => (
        <button
          class="bg-[#1e1e2e] hover:bg-[#1e1e2e]/90 px-2 py-1 rounded font-bold text-white text-xs version-selector"
          data-id={preset.id}
        >
          {preset.preset}
        </button>
      ))
    }
  </div>

  <div>
    {
      versions.map((version) => (
        <div class="relative version" id={version.id}>
          <Code
            class="p-4 rounded"
            code={version.code}
            lang="bash"
            theme="catppuccin-mocha"
          />
          <CopyCodeButton code={version.code} />
        </div>
      ))
    }
  </div>
</section>

<script>
  // Hide all code snippets except for first one
  const versions = document.querySelectorAll<HTMLDivElement>(".version");
  versions.forEach((preset) => preset.classList.add("hidden"));
  versions[0]?.classList.remove("hidden");

  const buttons =
    document.querySelectorAll<HTMLButtonElement>(".version-selector");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const id = button.getAttribute("data-id")!;
      const version = document.getElementById(id)!;
      versions.forEach((preset) => preset.classList.add("hidden"));
      version.classList.toggle("hidden");
    });
  });
</script>
